{
  "extends": [
    "google",
    "angular"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "mocha": true
  },
  "globals": {
    "angular": false,
    "should": true,
    "it": true,
    "inject": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "no-else-return": 0,
    "max-len": 0,
    "require-jsdoc": 0,
    "no-inline-comments": 0
  }
}
