<div class="container-fluid">
  <header class="page-header">
    <h1>Configuration</h1>
  </header>

  <form class="col-xs-12 form form-horizontal" name="form" novalidate>
    <div class="form-group">
      <label class="control-label" for="apiToken">API Token</label>
      <input
        class="form-control"
        id="apiToken"
        type="text"
        name="apiToken"
        ng-model="config.apiToken"
      />
    </div>
    <div class="form-group">
      <label class="control-label" for="refreshInterval">Refresh Interval</label>
      <input
        class="form-control"
        id="refreshInterval"
        type="number"
        min="20"
        max="1000"
        name="refreshInterval"
        ng-model="config.refreshInterval"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" ng-click="save()">SAVE</button>
    </div>
  </form>

</div>
