<div *ngIf="showConfigMessage" class="alert alert-warning" role="alert">
  <p class="mb-0">
    This is probably the first time you’ve started CircleBoard.<br>
    To make it work <a [routerLink]="['/config']">set a API Token in the Configuration</a>.
  </p>
</div>
<div *ngIf="(online$ | async) === false" class="alert alert-warning" role="alert">
  You seem to be offline. The refreshing of the build list is stopped until the
  browser goes online again. Please check the internet connection.
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
  <blockquote class="blockquote" [class.mb-0]="error.status < 400 || error.status > 599">
    <p class="mb-0">{{ error.message || "unknown error" }}</p>
  </blockquote>
  <p class="mb-0" *ngIf="error.status >= 400 && error.status < 600">
    This may happen when the api token which was used is out of date, deleted or invalid.<br>
    Check the token and try again. <a [routerLink]="['/config']">Change API Token in the Configuration</a>.
  </p>
</div>
<ng-container *ngIf="builds">
  <app-build-list [theme]="theme" [items]="builds" *ngIf="builds.length"></app-build-list>
  <div *ngIf="!builds.length && !error" class="alert alert-warning" role="alert">
    Right now there are no builds to display.
  </div>
</ng-container>
