<td>
  <i class="fa fa-calendar-check-o" aria-hidden="true" ng-if="$ctrl.build.outcome === 'success'"></i>
  <i class="fa fa-calendar-o" aria-hidden="true" ng-if="!$ctrl.build.outcome"></i>
  <i class="fa fa-calendar-times-o" aria-hidden="true" ng-if="$ctrl.build.outcome && $ctrl.build.outcome !== 'success'"></i>
  <time ng-if="!$ctrl.build.stop_time && !$ctrl.build.start_time" title="Build has not been started.">
    {{ $ctrl.build.author_date | date: 'MMM/dd HH:mm' }}
  </time>
  <time ng-if="!$ctrl.build.stop_time && $ctrl.build.start_time">
    {{$ctrl.build.start_time | date:'MMM/dd HH:mm'}}
  </time>
  <time ng-if="$ctrl.build.stop_time">
    {{$ctrl.build.stop_time | date:'MMM/dd HH:mm'}}
  </time>
  <br>
  <span class="text-muted" ng-if="$ctrl.build.build_time_millis" title="build took {{$ctrl.build.build_time_millis / 1000}}s">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    {{$ctrl.build.build_time_millis | duration}}
  </span>
</td>
<td>
  <a href="{{ $ctrl.build.compare }}" target="_blank" title="Open the changes on github">
    <code>{{ $ctrl.build.vcs_revision.substr(0,7) }}</code>
  </a>
</td>
<td>
  <a href="{{ $ctrl.build.build_url}}" target="_blank" title="the build number, click to open the build on circleci">#{{ $ctrl.build.build_num}}</a>
  <strong>
    <a href="{{ $ctrl.build.vcs_url }}" target="_blank" title="the repository name, click to open the repository on github">{{$ctrl.build.reponame}}</a>
    {{$ctrl.build.branch}}
  </strong>
  <a href="{{ $ctrl.build.build_url}}" ng-if="$ctrl.build.has_artifacts" target="_blank" title="this build has artifacts, click to open"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
  <br>
  <span class="text-muted">{{$ctrl.build.subject}}</span>
</td>
<td title="{{ $ctrl.committerTitle }}">
  <i class="fa fa-user-circle-o" aria-hidden="true" ng-if="$ctrl.build.committer_name"></i>
  {{ $ctrl.build.committer_name }}
</td>
<td>
  <span class="badge" ng-if="$ctrl.build.lifecycle == 'finished'" ng-class="{
    'badge-success': ['success'].indexOf($ctrl.build.outcome) > -1,
    'badge-warning': ['canceled', 'no_tests'].indexOf($ctrl.build.outcome) > -1,
    'badge-danger': ['failed', 'infrastructure_fail', 'timedout'].indexOf($ctrl.build.outcome) > -1
  }">
  {{$ctrl.build.outcome | uppercase}}
  </span>
  <span class="badge" ng-if="$ctrl.build.lifecycle != 'finished'" ng-class="{
    'badge-default': ['queued', 'scheduled', 'not_run', 'not_running'].indexOf($ctrl.build.lifecycle) > -1,
    'badge-primary': ['running'].indexOf($ctrl.build.lifecycle) > -1
  }">
    {{$ctrl.build.lifecycle | uppercase}}
  </span>
</td>
