<div class="container">
  <h1>
    Configuration
  </h1>
  <form name="$ctrl.form" novalidate ng-submit="$ctrl.save()">
    <fieldset>
      <div class="form-group" ng-class="{
      'has-warning': $ctrl.form.apiToken.$dirty && $ctrl.form.apiToken.$invalid,
      'has-success': $ctrl.form.apiToken.$dirty && $ctrl.form.apiToken.$valid
    }">
        <label for="apiToken">API Token</label>
        <input
          required
          class="form-control"
          id="apiToken"
          ng-pattern="/[a-f0-9]{40}/i"
          type="text"
          name="apiToken"
          ng-model="$ctrl.config.apiToken"
        />
        <small class="form-text text-muted">
          It’s recommended to create an API Token which is exclusively
          used for this dashboard:
          <a href="https://circleci.com/account/api" target="_blank">https://circleci.com/account/api</a>
        </small>
      </div>
      <div class="form-group" ng-class="{
        'has-warning': $ctrl.form.refreshInterval.$dirty && $ctrl.form.refreshInterval.$invalid,
        'has-success': $ctrl.form.refreshInterval.$dirty && $ctrl.form.refreshInterval.$valid
      }">
        <label for="refreshInterval">Refresh Interval</label>
        <input
          required
          class="form-control"
          id="refreshInterval"
          type="number"
          min="20"
          max="3600"
          name="refreshInterval"
          ng-model="$ctrl.config.refreshInterval"
        />
        <small class="form-text text-muted">
          Defines the interval between polling the builds from CircleCi in seconds.
        </small>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary"
      ng-disabled="$ctrl.form.$pristine || $ctrl.form.$invalid"
      ng-class="{
        'btn-warning': $ctrl.form.$invalid
      }"
      >SAVE</button>
  </form>
</div>
