<div ng-if="!$ctrl.config.apiToken" class="alert alert-warning">
  This is probably the first time you’ve started CircleBoard. To make it work
  you’ll need to <a ui-sref="app.config">set a API Token in the Configuration first</a>.
</div>
<div ng-if="$ctrl.error" class="alert alert-danger">
  <strong>{{ $ctrl.error.status }}</strong>
  {{$ctrl.error.statusText}}
  <p class="mb-0" ng-if="$ctrl.error.status === 401">
    This may happen when the api token which was used is out of date, deleted
    or invalid.<br>
    Check the token and try again. <a ui-sref="app.config" class="alert-link">Change API Token in the Configuration</a>
  </p>
</div>
<div ng-if="$ctrl.config.apiToken && !$ctrl.error">
  <build-list builds="$ctrl.builds"></build-list>
  <div class="navbar-fixed-top" ng-show="$ctrl.countdown <= 5">
    <div class="list-group">
      <div class="list-group-item list-group-item-info">
        Refresh in <span class="countdown">{{ $ctrl.countdown }}</span>s
      </div>
    </div>
  </div>
</div>
