<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="row">
    <div class="col-6">
      <a class="navbar-brand" ui-sref="app.list">
        CircleBoard 2.0
      </a>
      <span class="navbar-text mr-auto" ng-if="$ctrl.buildService.polling">
        <i class="fa fa-spinner fa-pulse fa-fw" ng-show="$ctrl.buildService.loading"></i>
        <span ng-hide="$ctrl.buildService.loading">update in {{$ctrl.buildService.countdown}}s</span>
      </span>
    </div>
    <div class="col-6">
      <div class="text-right">
        <div class="btn-group" role="group" aria-label="set font size">
          <button
            class="btn btn-outline-secondary"
            title="increase font size"
            ng-click="$ctrl.increaseFontSize()"
          >
            <i class="fa fa-search-plus" aria-hidden="true"></i>
          </button>
          <button
            class="btn btn-outline-secondary"
            title="decrease font size"
            ng-click="$ctrl.decreaseFontSize()"
          >
            <i class="fa fa-search-minus" aria-hidden="true"></i>
          </button>
        </div>
        <button class="btn btn-outline-secondary"
          title="adjust all settings"
          ui-sref="app.config"
        >
          <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
