<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="circleboard">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CircleBoard2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="favicon.ico">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/3c49f2651a.js"></script>
</head>
<body>

  <noscript>
    <p class="alert alert-danger">
      You are seeing this message as your browser does not support javascript
      or you have disabled it. What a shame. This web-application uses javascript
      to function. Please enable javascript if possible.
    </p>
  </noscript>

  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">CircleBoard 2.0</a>

    <button class="btn btn-outline-secondary" ng-click="increaseFontSize()" title="increase font size">
      <i class="fa fa-search-plus" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-secondary" ng-click="decreaseFontSize()" title="decrease font size">
      <i class="fa fa-search-minus" aria-hidden="true"></i>
    </button>
    <button class="btn btn-outline-secondary" href="/#/config" title="adjust all settings">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
  </nav>

  <ui-view></ui-view>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/ui-router-extras/release/ct-ui-router-extras.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

  <script src="scripts/App.js"></script>
  <script src="scripts/Config.js"></script>
  <script src="scripts/AppController.js"></script>
  <script src="scripts/ConfigController.js"></script>
  <script src="scripts/BuildList.js"></script>

</body>
</html>
